h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  font-family: Inter;
}
.row {
  display: flex;
  justify-content: flex-start;
}

span {
  margin-top: 20px;
  margin-right: 50px;
}

.content {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  text-align: left;

  margin: 25px 0px 25px 0px;
}
.main {
  display: flex;
  justify-content: center;
}

.vertical {
  align-items: center;
}

//Media query for responsive design
//Mobile
@media screen and (min-width: 0px) and (max-width: 834px) {
  .comment {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    justify-content: right;
  }
  .comment_author {
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 15px;
  }
  .comment_content {
    width: 232px;
    min-height: 20px;
    margin: 25px;
    padding: 15px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
  }
  .comment_field {
    width: 294px;
    height: 120px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 75px 5px 5px;
  }
  .send {
    width: 43px;
    height: 43px;
    margin-left: -60px;
  }
}

//Computer
@media only screen and (min-width: 835px) {
  .comment {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .comment_content {
    width: 449px;
    background-color: #eeeeee;
    border-radius: 8px;
    min-height: 20px;
    margin: 25px;
    padding: 15px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    text-align: left;
  }
  .comment_field {
    width: 570px;
    height: 120px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
  }
  .send {
    width: 43px;
    height: 43px;
    margin-left: 25px;
  }
}
