
.listOfTopics {
    display: flex;
}
.topic {
    margin: 5px;
    width: 391.79px;
    height: 161px;
    background-color: #F5F5F5;
    border-radius: 8px;
}
.topic_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
}
.topic_description {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
}