<div class="formulaire">
  <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <h2>Profil utilisateur</h2>
    <div class="column">
      <mat-form-field class="colored_border">
        <input matInput type="text" formControlName="name" required />
      </mat-form-field>
      <mat-error
        *ngIf="
          userProfileForm.controls['name'].invalid &&
          userProfileForm.controls['name'].touched
        "
      >
        Un username est requis.
      </mat-error>

      <mat-form-field class="colored_border">
        <input matInput type="email" formControlName="email" required />
      </mat-form-field>
      <mat-error
        *ngIf="
          userProfileForm.controls['email'].invalid &&
          userProfileForm.controls['email'].touched
        "
      >
        Un email est requis.
      </mat-error>
      <mat-form-field class="colored_border">
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="mot de passe"
        />
      </mat-form-field>
      <mat-error
        *ngIf="
          userProfileForm.controls['password'].invalid &&
          userProfileForm.controls['password'].touched
        "
      >
        Un password de minimum 8 caractères, contenant au moins un chiffre, une
        lettre minuscule, une lettre majuscule et un caractère spécial est
        requis.
      </mat-error>

      <button
        mat-flat-button
        type="submit"
        class="button_size"
        routerLink="/login"
        [disabled]="userProfileForm.invalid"
      >
        Sauvegarder
      </button>
    </div>
  </form>

  <a class="logout" (click)="logout()">Se déconnecter</a>
</div>
<hr />
<h2>Abonnements</h2>
<app-topic-list
  class="topics_list"
  [user]="userProfile"
  [comesFromProfile]="true"
  (topicListUpdated)="updateTopic($event)"
></app-topic-list>