/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//Media query for responsive design

//Mobile
@media screen and (min-width: 0px) and (max-width: 1023px) {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    
    .logo_full_screen {
        margin-top:32px;
        width: 225px;
        height: 130px;
        
      }
      .align_button {
        margin-top:54px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 116.5px;
      }
  }

  //Computer
  @media only screen and (min-width: 1024px) {
    .center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    .logo_full_screen {
        width: 412px;
        height: 238px;
      }
      .align_button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 377px;
      }
  }
