/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  --customColor: #7763C5;}

.arrow_back {
  min-width: 39px;
  min-height: 39px;
  font-size:39px;
  margin: 32px 0px 0px 32px;
  cursor:pointer;
}
.mat-mdc-form-field-error {
  margin-top: -20px;
}
.mat-mdc-text-field-wrapper {
  max-height: 50px;
}

//Media query for responsive design

//Mobile
@media screen and (min-width: 0px) and (max-width: 1023px) {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    
    .logo_full_screen {
        margin-top:32px;
        width: 225px;
        height: 130px;
      }
      .logo_header {
        width: 225px;
        height: 130px;
      }
      
      .toolbar_home {
        display: none;
      }
      .mat-toolbar {
        min-height: 94px! important;
        background-color: white ! important;
        border: 1px solid black;
      }
      .logo_header_mobile {
        width: 225px;
        height: 130px;
        display: flex;
        justify-content: center;
      }
      .align_button {
        margin-top:54px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 116.5px;
      }
  }

  //Computer
  @media only screen and (min-width: 1024px) {
    .center {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    .logo_full_screen {
        width: 412px;
        height: 238px;
      }
      
      .logo_header {
        width: 140px;
        height: 81px;
      }

      .logo_header_mobile{
        display: none;
      }
      .mat-toolbar {
        min-height: 94px! important;
        background-color: white ! important;
        border: 1px solid black;
      }
      .align_button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 377px;
      }
  }
